.middleContainer {
    display: flex;
    height: 70%;
    align-items: space-between;
    justify-content: center;
}

.child {
    flex: 1;
    text-align: center;
}



.left, .right {
    display: none;
}

body {
    
    height: 100vh;
    font-family: 'Homemade Apple', cursive;
    display: flex; 
    flex-direction: column;
    align-content: space-between;
    background-image: url("wood.jpg");
    background-size: cover;
    
}



.headerContainer {
    background-color:#454545;
    text-align: center;
}

.card {
    width: 75px;
    height: 90px;
    border: solid 1px red;
}


.bottomContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #7C7760;

}

.cardContainer {
    border: solid 1px red;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}


/* comment here */

/* Desktop layout */
@media only screen (min-width:760px) {
    .cards {
        display: flex;

    }

    .cardContainer {
        height: 50%;
        width: 50%;
        border: solid 1px purple;
    }
}